<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apogee.fleetsurvey">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permisson.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true" />

    <application
        android:name="com.apogee.fleetsurvey.utility.MyInternetConnection"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:node="replace">
        <activity android:name="com.apogee.fleetsurvey.CRS_sattelite"></activity>
        <activity android:name="com.apogee.fleetsurvey.HomeActivity"></activity>
        <activity android:name="com.apogee.fleetsurvey.stakepoint" />
        <activity android:name="com.apogee.fleetsurvey.Generic.taskGeneric" />
        <activity android:name="com.apogee.fleetsurvey.Generic.GenericActivity" />
        <activity android:name="com.apogee.fleetsurvey.utility.Communicationmethod" />
        <activity android:name="com.apogee.fleetsurvey.SetupActivity" /> <!-- <activity android:name=".Data."></activity> -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.apogee.fleetsurvey.Connect" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.apogee.fleetsurvey.newproject" />
        <activity
            android:name="com.apogee.fleetsurvey.Data.SplashActivity"
   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.apogee.fleetsurvey.utility.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name="com.apogee.fleetsurvey.utility.BLEService"
            android:exported="false" />

        <activity
            android:name="com.apogee.fleetsurvey.utility.DeviceControlActivity"
            android:label="@string/title_activity_device_control"
            android:theme="@style/AppTheme.NoActionBar" >


        </activity>
        <activity android:name="com.apogee.fleetsurvey.utility.DeviceScanActivity" />
    </application>

</manifest>